<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
                                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <wb-module deploy-name="gwt">
                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="gwt-shared-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/gwt-shared/gwt-shared">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="gwt-client-0.0.1-SNAPSHOT.war" deploy-path="/WEB-INF/lib" handle="module:/resource/gwt-client/gwt-client">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/" handle="module:/overlay/prj/gwt-client?includes=**/**&amp;excludes=META-INF/MANIFEST.MF">
            <dependency-type>consumes</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/" handle="module:/overlay/slf/?includes=**/**&amp;excludes=META-INF/MANIFEST.MF">
            <dependency-type>consumes</dependency-type>
        </dependent-module>
                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <property name="context-root" value="gwt"/>
                                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <property name="java-output-path" value="/gwt-server/target/classes"/>
                                                                                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </wb-module>
                                                                    
















</project-modules>
